global:
  selfhosted: "customera"
  domain: "afcdemo.com"
  publicIp: "public-ip"
  auth_global_signing_key: ""
  deployForecastChart: "false"
  deployLitellm: "false"
  deployGitbooksChart: false
  container:
    registry: "swimagereg.azurecr.io"
    username: "my-registry-user"
    password: "supersecurepassword"
    imagePullSecret: "registry-secret"
    
sw-private-chart:
  environment-chart:

    namespace: "environment"
    domain: "afcdemo.com"

    dex:
      version: "2025.05.2"
      connectors:
        github:
          enabled: false
          clientID: "dex"
          clientSecret: "supersecure"
        solitwork:
          enabled: false
          clientID: ""
          clientSecret: ""
          issuer: ""      
      client:
        secret: "supersecure"

    argo-workflows:
      namespaceOverride: "argo"  
      server:
        service:
          type: NodePort  

    litellm:
      postgres:
        username: "postgres"
        password: "postgres"
      apiKeys:
        azure: ""
      masterKey: ""


  customer-chart:

    namespace: "customera"
    appAdmin:
      email: "admin@example.com"
      firstName: "Admin"
      lastName: "User"

    postgres:
      username: "postgres"
      password: "postgres"
      database: "postgres"
      biDevRole: "postgres"
      fcUser: "postgres"
      fcPassword: "postgres"
      fcDatabase: "postgres"
      forecastUser: "postgres"
      forecastPassword: "postgres"
      forecastDatabase: "postgres"
      esgUser: "postgres"
      esgPassword: "postgres"
      esgDatabase: "postgres"
      gitbooksUser: "postgres"
      gitbooksPassword: "postgres"
      gitbooksDatabase: "postgres"
    
    fc:
      enabled: false

    da:
      enabled: true

    forecast:
      enabled: false
      auth:
        jwtSigningKey: ""
    esg:
      enabled: false
    gitbooks:
      enabled: false
      auth:
        jwtSigningKey: ""

  da-chart:
    namespace: "da"
    da:
      da_frontend_image: "/images/da-service/da-frontend"
      da_service_image: "/images/da-service/da-service"
  financial-chart:
    namespace: "fc"
    fc:
      fc_frontend_image: "images/financial-close-service/financial-close-frontend"
      fc_service_image: "images/financial-close-service/financial-close-backend"

  forecast-chart:
    namespace: "forecast"
    forecast:
      forecast_frontend_image: "images/sw-forecast/sw-forecast-frontend"
      forecast_service_image: "images/sw-forecast/sw-forecast-service"
  esg-chart:
    namespace: "esg"
    esg:
      esg_service_image: "images/esg/esg"
      ca_service_image: "images/esg/ca"
      source_load_service_image: "images/esg/source-load"
      external_endpoints_service_image: "images/esg/external_endpoints"
      frontend_service_image: "images/esg/frontend-service"
  gitbooks-chart:
    namespace: "gitbooks"
    gitbooks:
      gitbooks_version: "latest"
