global:
  selfhosted: "customera"
  domain: "afcdemo.com"
  publicIp: "public-ip"
  auth_global_signing_key: ""
  deployEsgChart: false
  deployWorkflowChart: false
  deployVatChart: false
  container:
    registry: "swimagereg.azurecr.io"
    username: "my-registry-user"
    password: "supersecurepassword"
    imagePullSecret: "registry-secret"
    
sw-private-chart:
  environment-chart:

    namespace: "environment"
    domain: "afcdemo.com"

    dex:
      version: "2025.05.2"
      connectors:
        github:
          enabled: false
          clientID: "dex"
          clientSecret: "supersecure"
        solitwork:
          enabled: false
          clientID: ""
          clientSecret: ""
          issuer: ""      
      client:
        secret: "supersecure"

    minio:
      bucket:
        name: argo-workflows  

    argo-workflows:
      namespaceOverride: "argo"  
      server:
        service:
          type: NodePort  
    litellm:
      postgres:
        username: "postgres"
        password: "postgres"
      apiKeys:
        azure: ""
      masterKey: ""
      azure:
        apiBase: "https://swopenaidev.openai.azure.com/"
        apiVersion: "2024-12-01-preview"
        deployment: "gpt-4o"

  customer-chart:

    namespace: "customera"
    appAdmin:
      email: "admin@example.com"
      firstName: "Admin"
      lastName: "User"

    postgres:
      username: "postgres"
      password: "postgres"
      database: "postgres"
      biDevRole: "postgres"
      fcUser: "postgres"
      fcPassword: "postgres"
      fcDatabase: "postgres"
      forecastUser: "postgres"
      forecastPassword: "postgres"
      forecastDatabase: "postgres"
      esgUser: "postgres"
      esgPassword: "postgres"
      esgDatabase: "postgres"
      gitbooksUser: "wefsdagjthg"
      gitbooksPassword: "wdssdsghre"
      gitbooksDatabase: "wdwwdwdwdcccxz"
      workflowUser: "postgres"
      workflowPassword: "postgres"
      workflowDatabase: "postgres"
      vatUser: "postgres"
      vatPassword: "postgres"
      vatDatabase: "postgres"
    fc:
      enabled: false

    da:
      enabled: true
      auth:
        jwtSigningKey: ""
    
    forecast:
      enabled: false
      auth:
        jwtSigningKey: ""
        
    esg:
      enabled: false
      auth:
        jwtSigningKey: ""
        
    gitbooks:
      enabled: false
      auth:
        jwtSigningKey: ""

    workflow:
      enabled: false
      auth:
        jwtSigningKey: ""
    vat:
      enabled: false
      auth:
        jwtSigningKey: ""

  da-chart:
    namespace: "da"
    da:
      da_frontend_image: "/images/da-service/da-frontend"
      da_service_image: "/images/da-service/da-service"
      da_version: "2025.05.3"
  financial-chart:
    namespace: "fc"
    fc:
      fc_version: "test"
      fc_frontend_image: "images/financial-close-service/financial-close-frontend"
      fc_service_image: "images/financial-close-service/financial-close-backend"
  forecast-chart:
    namespace: "forecast"
    forecast:
      forecast_frontend_image: "images/sw-forecast/sw-forecast-frontend"
      forecast_service_image: "images/sw-forecast/sw-forecast-service"
      forecast_version: "2025.11.10"
    
  esg-chart:
    namespace: "esg"
    esg:
      esg_service_image: "images/esg/esg"
      ca_service_image: "images/esg/ca"
      source_load_service_image: "images/esg/source_load"
      external_endpoints_service_image: "images/esg/external_endpoints"
      frontend_service_image: "images/esg/frontend_service"
  
  gitbooks-chart:
    namespace: "gitbooks"
    gitbooks:
      gitbookauth_frontend_image: "images/gitbookauth/gitbookauth-frontend"
      gitbookauth_service_image: "images/gitbookauth/gitbookauth-service"
  
  workflow-chart:
    namespace: "workflow"
    workflow:
      workflow_frontend_image: "images/sw-workflow/sw-workflow-frontend"
      workflow_service_image: "images/sw-workflow/sw-workflow-service"
      workflow_version: "latest"
  vat-chart:
    namespace: "vat"
    vat:
      vat_frontend_image: "images/vat/vat-frontend"
      vat_service_image: "images/vat/vat-service"