global:
  selfhosted: "customer"
  container:
    registry: "swimagereg.azurecr.io"
    username: "my-registry-user"
    password: "supersecurepassword"
  domain: "afcdemo.com"

customer-chart: 
  namespace: "customera"
  pbi:
    workspaceId: ""

  appAdmin:
    email: "admin@example.com"
    firstName: "Admin"
    lastName: "User"

  postgres:
    username: "postgres"
    password: "postgres"
    database: "postgres"
    biDevRole: "postgres"
    fcUser: "postgres"
    fcPassword: "postgres"
    fcDatabase: "postgres"
    forecastUser: "postgres"
    forecastPassword: "postgres"
    forecastDatabase: "postgres"
    esgUser: "postgres"
    esgPassword: "postgres"
    esgDatabase: "postgres"

  fc:
    enabled: false

  da:
    enabled: true

  forecast:
    enabled: false
    auth:
      jwtSigningKey: ""
      
  esg:
    enabled: false
